td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    overflow: hidden;
    text-align: center;
}
td:hover {
    background-color: lightgray;
}